@model LoginViewModel

<h1 class="text-center mt-2">Login</h1>
<hr class="bg-primary w-75">
<form class="mx-auto w-50" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="label-holder text-white d-flex justify-content-center">
            <label for="username" class="h3 mb-2">Username</label>
        </div>
        <input type="text" class="form-control" id="username" name="Username" />
        <span asp-validation-for="@Model.UserName"></span>
    </div>
    <div class="form-group">
        <div class="label-holder text-white d-flex justify-content-center">
            <label for="password" class="h3 mb-2">Password</label>
        </div>
        <input type="password" class="form-control" id="password" name="Password" />
        <span asp-validation-for="@Model.Password"></span>
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-primary text-white mb-3">Login</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}