@model RegisterViewModel

<h2>Create your accout:</h2>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="label-holder textCol d-flex flex-column justify-content-center align-items-center">
        <label>Username:</label>
        <input type="text" placeholder="Username" id="username" name="Username" />
        <span asp-validation-for="@Model.Username" class="text-danger"></span>
    </div>
    <div class="label-holder textCol d-flex justify-content-center">
        <label>Email:<br /></label>        
        <input type="email" placeholder="Email" id="email" name="Email" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="label-holder textCol d-flex flex-column justify-content-center align-items-center">
        <label>Password:</label>
        <input type="password" placeholder="Password" id="password" name="Password" />
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div class="label-holder textCol d-flex flex-column justify-content-center align-items-center">
        <label>Repeat Password:</label>
        <input type="password" placeholder="Repeat Password" id="confirmPassword" name="ConfirmPassword" />
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="register" value="Register">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}